<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>VITAL CONNECT</title>
  <link rel="stylesheet" href="/css/Home.css" />
  <link rel="icon" href="https://i.imgur.com/s5KplS1.png" referrerpolicy="" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>



  <!-- header -->
  <div class="navbar">
    <div class="logo">
      <img class="logoOne" src="https://i.imgur.com/9xI1y9V.png" alt="" referrerpolicy="no-referrer" />
    </div>
    <div class="nav-option">
      <ul>
        <li>
          <a href="/about"><button class="nav-bt">About</button></a>
        </li>
        <li>
          <a href="#"><button class="nav-bt">Donate</button></a>
        </li>
        <li>
          <a href="/blood"><button class="nav-bt">Find Blood</button></a>
        </li>
        <li>
          <a href="#"  id="adminLink"><button class="nav-bt">Blood Admin</button></a>
        </li>
      </ul>
    </div>
  </div>
<!-- 
  admin from -->
  <div id="adminForm">
    <h2>Admin Login</h2>
    <form id="loginForm" method="POST" action="/adminLogin">
        <label for="regId">Registration ID:</label>
        <input type="text" id="regId" name="regId" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br><br>
        <button type="submit">Login</button>
    </form>
</div>


  <!-- main-content -->
  <div class="main-content">
    <!-- why donation content -->
    <div class="why-donation">
      <div class="context">
        <div class="new">
          <div class="heading-context">
            <h2>WHY DONATING BLOOD?</h2>
          </div>
          <p>
            Donating blood saves lives by providing essential support for
            surgeries, emergencies, cancer treatments, and chronic illnesses.
            Each donation can help up to three people, as blood components like
            red cells, plasma, and platelets are used in various medical
            situations. It’s a simple way to give back and make a significant
            impact on community health.
          </p>
        </div>
      </div>
      <div class="context-photo">
        <img src="https://i.imgur.com/36LAYOl.jpeg" alt="" referrerpolicy="no-referrer" />
      </div>
    </div>


    <!-- type of donation -->

    <div class="type-of-donation">
      <div class="defi">
        <div class="type-heding">
          <h2>TYPE OF DONATION</h2>
        </div>
        <p>The human body typically contains around five liters of blood, a complex mixture of cellular and non-cellular
          elements like red <b>blood cells</b>, <b>platelets</b>, and <b>platelets</b>.

        </p>
        <p>
          Each component has distinct properties, making it valuable for various medical needs. At blood centers,
          donated
          blood is carefully divided into these components, allowing a single donation to potentially impact up to four
          lives, depending on the number of separate components that can be derived from it.
        </p>
      </div>
      <div class="creteria">
        <div class="creteria-one">
          <div class="div-one">
            <h2>What is it?</h2>
            <p>
              Blood collected directly from a donor into a blood bag containing an anticoagulant is known as whole
              blood.
              This whole blood is then processed through centrifugation to separate it into red cells, platelets, and
              plasma. The separated red cells are then preserved with a special solution, transforming them into what is
              known as packed red blood cells.

            </p>
          </div>
          <div class="div-two">
            <h2>Who can donate?</h2>
            <p>
              You need to be 18-65 years old, weight 45kg or more and be fit and healthy.
            </p>
          </div>
        </div>
        <div class="creteria-two">
          <div class="div-one">
            <h2>User For?</h2>
            <p>
              Treatment for severe anemia in various conditions, as well as blood loss during childbirth, surgery, or
              trauma situations.

            </p>
          </div>
          <div class="div-two">
            <h2>Lasts For?</h2>
            <p>
              Red cells can be stored for 42 days at 2-6 degree celsius.
            </p>
          </div>
        </div>
        <div class="creteria-three">
          <div class="div-one">
            <h2>How long does it take to donate?</h2>
            <p>
              The donation process, including the pre-donation check-up, takes approximately 15-30 minutes.

            </p>
          </div>
          <div class="div-two">
            <h2>How often can I donate?</h2>
            <p>
              Male donors are eligible to donate every 90 days, while female donors can donate every 120 days.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- blood bags with des -->
    <div class="blood-bag-with-des">
      <div class="des-of-bloodtype">
        <div class="bloodtype-heading">
          <h2>
            BLOOD TYPES
          </h2>
        </div>
        <div class="bloodtype-para">
          <p>
            Blood types are classified by the <b>ABO system</b> and the <b>Rh factor</b>, based on antigens on red blood
            cells. In the ABO system: Type A has A antigens, Type B has B antigens, Type AB has both, and Type O has
            none.
            Additionally, Rh-positive blood has the Rh antigen, while Rh-negative does not. Compatibility is crucial for
            transfusions, with Type O as the universal donor and AB as the universal plasma donor.
          </p>
        </div>
      </div>
      <div class="blood-bag-img">
        <div class="bags">
          <a href="">
            <img src="https://i.imgur.com/y0Vzj4e.png" alt="" referrerpolicy="no-referrer">
          </a>
        </div>
        <div class="bags">
          <a href="">
            <img src="https://i.imgur.com/Qsq5sVW.png" alt="" referrerpolicy="no-referrer">
          </a>
        </div>
        <div class="bags">
          <a href="">
            <img src="https://i.imgur.com/n5Giw0S.png" alt="" referrerpolicy="no-referrer">
          </a>
        </div>
        <div class="bags">
          <a href="">
            <img src="https://i.imgur.com/qJRB1V1.png" alt="" referrerpolicy="no-referrer">
          </a>
        </div>
        <div class="bags">
          <a href="">
            <img src="https://i.imgur.com/jYJ0Zlw.png" alt="" referrerpolicy="no-referrer">
          </a>
        </div>
        <div class="bags">
          <a href="">
            <img src="https://i.imgur.com/IqewYO0.png" alt="" referrerpolicy="no-referrer">
          </a>
        </div>
        <div class="bags">
          <a href="">
            <img src="https://i.imgur.com/yNVtgBZ.png" alt="" referrerpolicy="no-referrer">
          </a>
        </div>
        <div class="bags">
          <a href="">
            <img src="https://i.imgur.com/p21AP1D.png" alt="" referrerpolicy="no-referrer">
          </a>
        </div>
      </div>
    </div>
    <!-- compatible blood  -->
    <div class="conpatible-blood">
      <div class="doc-img">
        <div class="doc-img-one">
          <img src="https://i.imgur.com/gNWdlUk.png" alt="" referrerpolicy="no-referrer">
        </div>

        <div class="doc-dese">
          <div class="doc-dese-one">
            <p>
              Compatible blood type donors are crucial for safe blood transfusions. Type O- is known as the universal
              donor for red blood cells, as it can be safely given to any blood type. Type AB+, on the other hand, is
              the
              universal recipient, able to receive red blood cells from any type. Compatibility depends on both the ABO
              and Rh systems: for example, Type A can receive from A and O, while Type B can receive from B and O.
              Matching donor and recipient blood types minimizes immune reactions, ensuring safe and effective
              transfusions.
            </p>
          </div>
        </div>
      </div>
      <div class="compatible-table">
        <div class="table-heading">
          <h1>COMPATIBLE BLOOD TYPE</h1>
        </div>
        <div class="table-img">
          <img src="https://i.imgur.com/6ALpFit.jpeg" alt="" referrerpolicy="no-referrer">
        </div>
      </div>
    </div>
    <!-- extra div -->
    <div class="extra-div">
      <div class="extra-one">
        <p>CHANGE THE WORLD WITH US</p>
        <h1>"Blood Near You, When You Need It"</h1>
      </div>
      <div class="extra-two">
        <img src="https://i.imgur.com/POmgAu4.png" alt="" referrerpolicy="no-referrer">
      </div>
    </div>
  </div>




  
  <!-- Footer -->
  <div class="footer">
    <div class="usefull-links">
      <div class="links">
        <h3>Looking For Blood</h3>
        <a href="">Blood Availabity</a>
        <a href="">Blood Bank</a>
      </div>
      <div class="links">
        <h3>Want To Donate Blood</h3>
        <a href="">About Blood Donation</a>
        <a href="">Donnar Login</a>
        <a href="">Blood Donaiton Camp</a>
      </div>
      <div class="links">
        <h3>Login</h3>
        <a href="">VITAL CONNECT Login</a>
      </div>
      <div class="links">
        <h3>About Us</h3>
        <a href="">About VITAL CONNECT</a>
        <a href="">Notifications</a>
        <a href="">Contract Us</a>
      </div>
    </div>
    <div class="socialmedia-links">
      <div class="footer-logo">
        <img src="https://i.imgur.com/9xI1y9V.png" alt="" referrerpolicy="no-referrer">
      </div>
      <div class="social-icon">
        <div class="social-icon-heading">
          <h3>Follow Us On</h3>
        </div>
        <div class="social-icon-one">
          <a href=""><i class="fa-brands fa-x-twitter"></i></a>
          <a href=""><i class="fa-brands fa-linkedin"></i></a>
          <a href=""><i class="fa-brands fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="/js/home.js"></script>
</html>